<header class="wow slideInDown"></header>
<div class="toggleUnits">
<span (click)="toggleUnits()"><i class="fa fa-thermometer-empty" aria-hidden="true"></i>
</span>
<a (click)="logout()" href="#"><i class="fa fa-sign-out" aria-hidden="true"></i>
</a>
</div>
<section class="weather-day wow fadeIn" [ngStyle]="setStyles()">
  <p>{{this.currentLocation}}</p>
  <h1>{{ this.weatherData.temp | tempUnit: currentTempUnit | number: '.0-0' }}&deg;</h1>
  <canvas id="icon"></canvas>
  <p>{{this.weatherData.summary}}
  <p>Wind {{this.weatherData.wind | speedUnit: currentSpeedUnit }}</p>
  <p>Humidity {{this.weatherData.humidity | percent}}</p>
</section>
<footer class="wow slideInUp"></footer>
