@import '../style/assets';

.toggleUnits {
position: absolute;
width: 100%;
font-size: $font-medium;
span {
  color: $primary-color;
  margin: $trim;
  float: left;
  &:hover {
    cursor: pointer;
  }
}
a {
  float: right;
  margin: $trim;
  color: white;
  }
}
.weather-day {
  text-align: center;
  height: 100%;
  font-weight: 700;
  @include nutiro;
  font-size: $font-large;
  @include bp(min-width, $bp-medium) {
  }
  p {
    padding-top: $trim;
  }
}
