@import '../style/assets';
.header {
  @include nutiro;
  text-align: center;
  background: $primary-text-color;
  p {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
  }
}
