@import '../style/assets';
.main-login {
  width: 100%;
  overflow: hidden;
  position: relative;
  h2 {
    position: absolute;
    top: 0;
    text-transform: uppercase;
    font-weight: 700;
    left: calc(50% - 200px);
    width: 400px;
    text-align: center;
    top: 80px;
    color:white;
    font-size: $font-xllarge;
  }
  .error {
    margin-top: $trim * 2;
    font-size: $font-large;
    text-align: center;
    color: $primary-color-text;
  }
  video {
    height: 100%;
    @include bp(min-width, $bp-large) {
      height: auto;
      width: 100%;
    }
  }
  .login {
    position: absolute;
    top: calc(50% - 150px);
    width: calc(100% - 10px);
    height: 400px;
    left:$sgap;
    padding: $gap;
    // @include shadow;
    border-radius: $gap;
    @include nutiro;
    text-align: center;
    @include bp(min-width, $bp-medium) {
      width: 400px;
      margin-left: calc(50% - 200px);
      top: calc(50% - 150px);
    }
    label {
      width: 100%;
      font-size: $font-large;
      margin: $trim 0 $trim 0;
      text-transform: uppercase;
      color: $primary-color-text;
      font-weight: 700;
    }
    input {
      transition: linear 0.3s;
      width: 100%;
      height: 40px;
      border: none;
      background: none;
      border-radius: $sgap;
      color: white;
      font-size: $font-large;
      padding-left: $gap;
      border-bottom: 1px solid white;
      &:focus {
        transition: linear 0.3s;
        border-radius: 0;
        outline:1px solid white;
      }
    }
    button {
      margin-top: $trim * 2;
      padding: 15px 40px;
      color: $primary-color-text;
      font-size: $font-medium;
      font-weight: 700;
      text-transform: uppercase;
      background: $accent-color;
      border-radius: $gap;
      border: none;
    }
  }
}
