<section class="main-login">
  <h2 class="wow zoomInUp" >Weather Station</h2>
  <video src="../../assets/login.mp4" autoplay="true" loop="true" class="" data-wow-duration="3s" center fixed></video>
  <div class="login wrapper wow fadeIn">
    <label for="email">Email</label>
    <input [(ngModel)]="user.email" id="email"
    type="email" class="validate">
    <label for="password">Password</label>
    <input [(ngModel)]="user.password" id="password"
    type="password" class="validate">
    <button (click)="login()"
    class="wow bounceInUp"
    type="submit" name="action">Login</button>
    <div class="error">{{errorMsg}}</div>
  </div>
</section>
