// Mixin - Breakpoint
$mq-support: true !default;
$mq-fixed-value: 1024px !default;

@mixin bp($feature, $value) {
    // Set global device param
    $media: only screen;

    // Media queries supported
    @if $mq-support == true {

        @media #{$media} and ($feature: $value) {
            @content;
        }

        // Media queries not supported
    } @else {

        @if $feature == 'min-width' {
            @if $value <= $mq-fixed-value {
                @content;
            }
        } @else if $feature == 'max-width' {
            @if $value >= $mq-fixed-value {
                @content;
            }
        }

    }
}

//Custom breakpoints
$bp-small: 340px;
$bp-medium: 768px;
$bp-large: 1200px;

//Custom margins and paddings
$trim: 20px;
$gap: 10px;
$sgap: 5px;

//Font sizes
$font-xxsmall:10px;
$font-xsmall:18px;
$font-small:20px;
$font-medium:24px;
$font-large:30px;
$font-xllarge:40px;
$font-xxllarge:50px;

//Shadow
@mixin shadow {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

//Font family
@mixin nutiro {
  font-family: 'Nunito', sans-serif;
}

@font-face {
      font-family: 'fontello';
      src: url('../assets/font/fontello.eot?53913178');
      src: url('../assets/font/fontello.eot?53913178#iefix') format('embedded-opentype'),
           url('../assets/font/fontello.woff?53913178') format('woff'),
           url('../assets/font/fontello.ttf?53913178') format('truetype'),
           url('../assets/font/fontello.svg?53913178#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
    }

//Colors
$primary-color-dark:   #0288D1;
$primary-color:        #03A9F4;
$primary-color-light:  #B3E5FC;
$primary-color-text:   #FFFFFF;
$accent-color:         #795548;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
$sun:                  #FFC107;


//Custom animation
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
  }

  100% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.faa-pulse.animated,
.faa-pulse.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-pulse {
  -webkit-animation: pulse 2s linear infinite;
  animation: pulse 2s linear infinite;
}
