<div class="main-footer">
  <div class="left-wrapper">
    <div class="wrapper">
      <span class="social-wrapper"><i class="fa fa-linkedin" aria-hidden="true"></i>
      </span>
      <span class="social-wrapper"><i class="fa fa-whatsapp" aria-hidden="true"></i>
      </span>
      <span class="social-wrapper"><i class="fa fa-skype" aria-hidden="true"></i>
      </span>
    </div>
  </div>
  <div class="right-wrapper">
    <div class="wrapper">
      <img src="../assets/angular2.png" alt="">
    </div>
  </div>
</div>
