@import '../style/assets';

.main-footer {
  background: $primary-text-color;
  padding: $gap;
  float: left;
  width: 100%;
  @include nutiro;
  .left-wrapper {
    width: 50%;
    float: left;
    .wrapper {
      width: 100%;
      text-align: center;
      .social-wrapper {
        margin-right: $sgap;
        display: inline-block;
        &:last-child {
          margin-right: 0;
        }
        i {
          transition: linear 0.3s;
          color:$primary-color;
          font-size: 30px;
          &:hover {
            transition: linear 0.3s;
            color: white;
          }
        }
      }
    }
  }
  .right-wrapper {
    width: 50%;
    float: right;
    .wrapper {
      width: 100%;
      text-align: center;
      img {
        width: 30px;
      }
    }
  }
}
